body {
    font-family: "Prompt", sans-serif;
    background-color: #ccc;
    background-size: cover;
    color: #333;
}

/* NAV BAR STYLING */
.nav-wrapper {
    width: 100vw;
    margin: 0 auto;
    padding: 15px 20px;
    display: grid;
    grid-template-columns: 30% auto;
    background-color: #333;
    text-transform: uppercase;
}

.nav-wrapper a {
    letter-spacing: .1em;
    text-decoration: none;
    font-weight: bold;
    color: #ccc;
}

.nav-wrapper a:hover {
    cursor: pointer;
    color: #fff;
}

.nav-item {
    margin-left: 10px;
    padding: 10px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: .1em;
    text-decoration: none;
    color: #ccc;
}

.nav-wrapper ul li {
    display: inline;
    list-style-type: none;
}

.burger-icon {
    display: none;
}

/* MAIN STYLING */
/* .main-wrapper {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-areas: 
        "title title"
        "serviceTimes announcements"
        "statementOfFaith statementOfChurchOperation";
}

.wrapper {
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-areas: 
        "title title"
        "serviceTimes announcements"
        "statementOfFaith statementOfChurchOperation";
}

.main-wrapper > .header > .title,
.main-wrapper > .header > .service-times,
.main-wrapper > .header > .announcements,
.main-wrapper > .content > .statement-of-faith,
.main-wrapper > .content > .statement-of-the-church-operation {
    padding: 25px;
} */

.main-wrapper {
    display: grid;
    width: 75vw;
    margin: auto;
    grid-template-rows: auto, 1fr;
    grid-template-areas: 
        "title"
        "contentArea";
}

.title, .service-times, .announcements, .statement-of-faith, .statement-of-the-church-operation {
    box-shadow: 0 0 4px rgba(0,0,0,.3);
    background-color: #aaa;
    display: grid;
    align-content: flex-end;
}

.title {
    grid-area: title;
    min-height: 55vh;
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.1)) border-box, 
                url(images/churchPic.JPG);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 35%;
    background-size: cover;
    display: inline;
}

.title > h1 {
    margin-top: 20vh;
    text-align: center;
    color: #eee;
    font-size: 3.5vw;
}

.title > div {
    text-align: center;
}

.title > div > button {
    text-decoration: none;
    border: none;
    background-color: #eee;
    color: black;
    font-size: 4vh;
    padding-top: .5vh;
    cursor: pointer;
    width: min-content;
}

.title > div > p {
    color: #eee;
    display: inline-block;
    font-size: 4vh;
}

.content {
    grid-area: contentArea;
    display: grid;
    max-width: 75vw;
    margin: auto;
    gap: 10px;
    grid-template-areas: 
        "serviceTimes announcements"
        "statementOfFaith statementOfChurchOperation";
}

.service-times {
    grid-area: serviceTimes;
}

.announcements {
    grid-area: announcements;
}

.statement-of-faith {
    grid-area: statementOfFaith;
}

.statement-of-the-church-operation {
    grid-area: statementOfChurchOperation;
}

/* TABLET MEDIA QUERY*/
@media screen and (max-width: 950px) {
    .main-wrapper {
        grid-template-areas: "title title"
                             "serviceTimes announcements"
                             "statementOfFaith statementOfChurchOperation";
    }
}

/* MOBILE MEDIA QUERY */
@media screen and (max-width: 690px) {
    .main-wrapper {
        grid-template-areas:
            "title"
            "serviceTiems"
            "announcements"
            "statementOfFaith"
            "statementOfChurchOperation";
    }

    .burger-icon {
        display: inline-block;
        justify-self: end;
        grid-column: 4/5;
        border: 2px solid #333;
        color: #333;
        padding: 10px;
        font-weight: bold;
        border-radius: 3px;
    }

    .burger-icon:hover {
        cursor: pointer;
    }


    .mobile-show {
        display: block;
    }

    .mobile-hide {
        display: none;
    }
}