body {
    font-family: sans-serif;
    background-color: #EEF4ED;
    background-size: cover;
    color: #333;
}

/* NAV BAR STYLING */
.nav-wrapper {
    width: 100vw;
    margin: 0 auto;
    padding: 15px 0px;
    display: grid;
    background-color: #0B2545;
    position: fixed;
    text-align: center;
}

.nav-wrapper a {
    letter-spacing: .1em;
    text-decoration: none;
    font-weight: bold;
    color: #EEF4ED;
    text-transform: uppercase;
}

.nav-wrapper a:hover {
    cursor: pointer;
    color: #8DA9C4;
}

.nav-wrapper a:active {
    color: #DFDF25;   
}

.nav-item {
    padding: 0px 30px;
}

.nav-wrapper ul li {
    display: inline;
    list-style-type: none;
}

.burger-icon {
    display: none;
}

/* MAIN STYLING */
.more-to-come {
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #134074;
    color: #EEF4ED;
    font-size: 2em;
    margin-top: 0;
}

.more-to-come > h1 {
    font-family: "Satisfy";
    color: #DFDF25;
    font-size: 4em;
}

.main-wrapper {
    display: grid;
    width: 100vw;
    margin: auto;
    grid-template-areas: 
        "title title"
        "directions directions"
        "serviceTimes announcements"
        "statementOfFaith statementOfChurchOperation";
}

.title {
    grid-area: title;
    height: 65vh;
    min-height: 300px;
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.1)) border-box, 
                url(images/churchPic.JPG);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 30%;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
}

.title > h1 {
    font-size: 7em;
    font-family: "Satisfy", sans-serif;
    text-shadow: 2px 2px 2px black;
    color: #EEF4ED;
}

.directions {
    grid-area: directions;
    height: 12vh;
    min-height: 120px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.directions > a {
    margin-right: 2vw;
}

.service-times {
    background-color: #0B2545;
    grid-area: serviceTimes;
    height: 20vh;
    min-height: 200px;
    color: #EEF4ED;
    text-align: center;
}

.announcements {
    background-color: #0B2545;
    grid-area: announcements;
    height: 20vh;
    min-height: 200px;
    color: #EEF4ED;
    text-align: center;
}

.service-times > h6, .announcements > h6 {
    color: #DFDF25;
    font-size: 1.5em;
    margin-top: 30px;
}

.announcements > h6 {
    color: #DFDF25;
}

.statement-of-faith {
    grid-area: statementOfFaith;
    margin: 5px 30px;
}

.statement-of-church-operation {
    grid-area: statementOfChurchOperation;
    margin: 5px 30px;
}

.content-title {
    font-weight: bold;
}

/* Buttons Styling and Animation */
.btn {
    display: inline-block;
    width: 75px;
    height: 75px;
    background: #DFDF25;
    margin: 10px;
    border-radius: 30%;
    box-shadow: -5px 5px 15px 5px #00000070;
    color: #EEF4ED;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.btn i {
    line-height: 75px;
    font-size: 50px;
    transition: 0.2s linear;
}

.btn:hover i {
    transform: scale(1.3);
    color: #DFDF25;
}
   
.btn::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #EEF4ED;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.btn:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa {
    0% {
        left: -110%;
      top: 90%;
    } 50% {
        left: 10%;
        top: -30%;
    } 100% {
        top: -10%;
        left: -10%;
    }
}

/* TABLET MEDIA QUERY*/
@media screen and (max-width: 950px) {
    .main-wrapper {
        grid-template-areas: "title title"
                             "serviceTimes announcements"
                             "statementOfFaith statementOfChurchOperation";
    }
}

/* MOBILE MEDIA QUERY */
@media screen and (max-width: 690px) {
    .main-wrapper {
        grid-template-areas:
            "title"
            "serviceTiems"
            "announcements"
            "statementOfFaith"
            "statementOfChurchOperation";
    }

    .burger-icon {
        display: inline-block;
        justify-self: end;
        grid-column: 4/5;
        border: 2px solid #333;
        color: #333;
        padding: 10px;
        font-weight: bold;
        border-radius: 3px;
    }

    .burger-icon:hover {
        cursor: pointer;
    }


    .mobile-show {
        display: block;
    }

    .mobile-hide {
        display: none;
    }
}